.course-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-sizing: 0px 0px 10px black;
    transition: 0.3s;
}
.course-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.course-item-info{
    padding: 20px;
}
.course-item-name-raiting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.course-item-name-raiting p{
    font-size: 20px;
    font-weight: 500;

}
.course-item-name-raiting img{
    width: 70px;
}
.course-item-description{
    color: black;
    font-size: 12px;
}
.course-item-price{
    color: black;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}
.course-item-image-container{
    position: relative;
}
.course-item-image-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.course-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.course-item-counter img{
    width: 30px;
}