.add{
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}
.add form{
    gap: 20px;
}
.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
.add-img-upload img{
    width: 120px;
  }
.add-course-name, .add-course-description{
    width: max(40%, 280px);
}
.add-course-description textarea, .add-course-name input{
    padding: 10px;
}

.add-category-price{
    display: flex;
    gap: 30px;
}
.add-category-price select, .add-category-price input{
    max-width: 120px;
    padding: 10px;
}
.add-button{
    max-width: 120px;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}